@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');


.app-header {
   background-color:#14274E;
   height:130px;
   width:100%;
  position:relative;
}

h3 {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.filterCard{
   height:92px;
   position: absolute;
   bottom:40px;
}

/* @media query for filtercard */
@media (max-width:360px) {
  filterCard {
    z-index : 10;
  }
}
 .job-card-header {
   position: absolute;
   bottom:40px;
   background-color:white;
   border-radius:10px;
   height:140px auto;
}
.searchInput {
  height:90px;
  width:100%;
  border:none;
  outline:none;
}

.searchInput:focus {
     border:none;
}

.icons {
   opacity:.7;
   margin-top:3px;
   margin-right:5px;
}
.searchInput::placeholder {
  font-family: 'Poppins', sans-serif;
  opacity: .7
}

.font-pop {
    font-family: 'Poppins', sans-serif;
}
.job-card  {
   position: relative;
   height:350px;
   background-color:white;
   border-radius:8px;
}

.company-logo {
  width:60px;
  height:60px;
  border-radius:10px;
}

.job-created {
  font-family: 'Roboto', sans-serif;

   font-size:15px;
   opacity:.6;
}

.company-title {
  font-family: 'Poppins', sans-serif;
}

.company-name {
   font-size:14px;
   font-family: 'Roboto', sans-serif;
   opacity:.6;
}

.company-loc {
   font-size:14px;
   font-family : 'Nunito' , sans-serif;

}



.job-card:hover{
  opacity:.7;
  transition: .3s;
  cursor:pointer;
  transform:scale(.99);
}

.job-card-loader {
   border : none;
   outline:none;
   opacity: .7;
   background-color:white;
   border-radius:8px;
}

.info-link:hover {
  text-decoration:none;
}

.info-card {
  height:100% auto;
  background-color:white;
  border-radius:10px;
}

.info-header {
   line-height: 2.5;
}


.job-card-header-loader {
  height:140px;
  background-color:white;
}
.info-card-loader {
  height:100vh;
  background-color:white;
}

.apply-card {
  background-color:white;
  height:200px auto;

}

@media screen and (max-width:360px) {

  .job-card-header .company-logo {
    width:60px;
    height:50px;
    transform:translateX(100px);
  }
  .job-card-header .company_link {

    transform:translate(90px,-10px);
  }

  .info-card  header {
    flex-direction :column;
    text-align:center;
  }

  .info-card header . -primary {
    width:100%;
  }

  .app-header {
     padding-top:15px;
  }
}
