@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

.App {
   background-color:#f1f6f9;
   height:100%;
}
.app-header {
   background-color:#14274E;
   height:130px;
   width:100%;
  border-bottom-left-radius:100px;
  position:relative;
}

h3 {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;

}

.filterCard{
   height:92px;
   position: absolute;
   bottom:40px;
}

.searchInput {
  height:90px;
  width:100%;
  border:none;
  outline:none;
}

.searchInput:focus {
     border:none;
}

.icons {
   opacity:.7;
   margin-top:3px;
   margin-right:5px;
}
.searchInput::placeholder {
  font-family: 'Poppins', sans-serif;
  opacity: .7
}

.font-pop {
    font-family: 'Poppins', sans-serif;
}
.job-card {
   position: relative;
   height:250px auto;
}

.company-logo {
  width:50px;
  height:50px;
  border-radius:10px;

}

.job-created {
  font-family: 'Roboto', sans-serif;

   font-size:15px;
   opacity:.6;
}

.company-title {
  font-family: 'Poppins', sans-serif;
}

.company-name {
   font-size:14px;
   font-family: 'Roboto', sans-serif;
   opacity:.6;
}

.company-loc {
   font-size:14px;
   font-family : 'Nunito' , sans-serif;

}

.card {
  border :none;
  border-radius:10px;
}

.job-card:hover{
  background-color:white;
  opacity:.9;
  transition: .3s;
  cursor:pointer;
}
